{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <h1>Portofolio</h1>
    <table>
        <thead>
            <tr>
                <th>Stock</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
             {% for stocks in data_buy %}
                <tr>
                    <td>{{ stocks.stock }}</td>
                    <td>{{ stocks.share}}</td>
                    <td>{{ stocks.price | usd }}</td>
                    <td>{{ (stocks.price * stocks.share) | usd }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <p>Cash: {{ cash | usd }}</p>
    <p>Grand total:{{ grand_total | usd }}</p>

{% endblock %}